@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

main{
    height: calc(100vh - 74px);
    background: url(../img/dog03-inteira.jpg) center/cover no-repeat;
}

form{
   font-size: clamp(1rem, 4vw, 1.2rem);
}

input{
    border: none;
    outline: none;
   
}

h2{
    font-size: 2rem;
}

button.btn{
    width: 5.345rem;
    font-size: 1rem;
    padding: 0.375rem;
    box-shadow: 3px 3px 3px #0000005c;
    font-weight: bold;
    color: white;
    border: none;
    background:purple ;
    transition: all 0.5s;
}

a{
  
    color: black;
    transition: all 0.3s;
}

a:hover{
  
    color: purple;
}